<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#7852e8" />
    <meta name="msapplication-navbutton-color" content="#7852e8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#7852e8" />
    <!-- mobile setting end-->
</head>
<body>
{% block content %}
{% endblock %}
</body>
{% block script %}
{% endblock %}
</html>
